{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create Page</title>
        <link rel="stylesheet" href="{% static "post-review.css" %}"">
    </head>
    <body>
        <header>
            <div>
                Enter Blog Posts
            </div>
            <nav>
            <a href="{% url "posts_list" %}">Back to Posts</a>
            </nav>
        </header>
        <main>
            <div class="book-review-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div>Copyright 2022 by Erica</div>
            <p>This is my site that contains all my book reviews that you can read to see if you'd like that book</p>
        </footer>
    </body>
</html>
