{% load static %}
<!Doctype html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{% static "post-review.css" %}"">
    </head>
    <body>
        <header>
            <div>Blog Posts</div>
            <nav>
                <a href="{% url "create_post" %}">Create a Post</a>
            </nav>
        </header>
        <main>
        {% for post in posts %}
            <div class="main-page-book-review">
                    <h2 class="book-title">{{ post.title }}</h2>
                    <br>
                <p>
                    {{ post.content }}
                </p>
            </div>
        {% endfor %}
        </main>
        <footer>
            <div>Copyright 2022 by Erica</div>
            <p>This is my site that contains all my blog posts that you can read to see. Made with Django.</p>
        </footer>
    </body>
</html>
